section.about.py-5
        .container.pb-lg-3
            h3.tittle.text-center Popular Products
            .row
                .col-md-6.latest-left
                    .product-shoe-info.shoe.text-center
                        img.img-fluid(src='/images/img1.jpg' alt='')
                        .shop-now
                            a.btn(href='/products') Shop Now
                .col-md-6.latest-right
                    .row.latest-grids
                        .latest-grid1.product-men.col-12
                            .product-shoe-info.shoe.text-center
                                .men-thumb-item
                                    img.img-fluid(src='/images/img2.jpg' alt='')
                                    .shop-now
                                        a.btn(href='/products') Shop Now
                        .latest-grid2.product-men.col-12.mt-lg-4
                            .product-shoe-info.shoe.text-center
                                .men-thumb-item
                                    img.img-fluid(src='/images/img3.jpg' alt='')
                                    .shop-now
                                        a.btn(href='/products') Shop Now
    
section#brands.brands.py-5
    .container.py-lg-0
        .row.text-center.brand-items
            .col-sm-2.col-3
                a(href='#')
                    span.fa.fa-connectdevelop(aria-hidden='true')
            .col-sm-2.col-3
                a(href='#')
                    span.fa.fa-empire(aria-hidden='true')
            .col-sm-2.col-3
                a(href='#')
                    span.fa.fa-ioxhost(aria-hidden='true')
            .col-sm-2.col-3
                a(href='#')
                    span.fa.fa-first-order(aria-hidden='true')
            .col-sm-2.col-3.mt-sm-0.mt-4
                a(href='#')
                    span.fa.fa-joomla(aria-hidden='true')
            .col-sm-2.col-3.mt-sm-0.mt-4
                a(href='#')
                    span.fa.fa-dropbox(aria-hidden='true')

