ul.w3layouts_social_list.list-unstyled
    li
        a.w3pvt_facebook(href='#')
            span.fa.fa-facebook-f
    li.mx-2
        a.w3pvt_twitter(href='#')
            span.fa.fa-twitter
    li
        a.w3pvt_dribble(href='#')
            span.fa.fa-dribbble
    li.ml-2
        a.w3pvt_google(href='#')
            span.fa.fa-google-plus

