extends base

include mixins/_headLine

block content

    +headLine('Admin-Category')

    section.ab-info-main.py-md-5
        .container.py-md-3
            h3.tittle.text-center.mb-lg-5.mb-3 Categories
                .speak.px-lg-5
                    .row.mt-lg-5.mt-4
                        //- .col-md-12.events-info.my-3
                        table.table
                            thead
                                tr
                                    th #
                                    th Name
                                    th Edit
                                    th Delete
                            tbody
                                each category, i in categories
                                    tr
                                        td= `${i + 1}`
                                        td= category.name
                                        td 
                                            a(href=`/admin/categories/${category._id}/edit`) Edit
                                        td 
                                            form(action=`/admin/categories/${category._id}?_method=DELETE`, method="POST")
                                                input(type="submit", value="Delete")

    section.admin__add                
        p
            a.admin__addBtn(href='/admin/categories/add') Add New Category
