extends base

include mixins/_headLine

block content

    +headLine('Login Page')

    section.ab-info-main.py-5
        .container.py-3
            h3.tittle.text-center
                span.sub-title Login
            .row.contact-main-info.mt-5
                .col-md-4.contact-right-content
                .col-md-4.contact-right-content
                    form.form--login
                        label(for="email") Email 
                            span.field__required *
                        input#email(type="email", name="email", placeholder="user@example.com", required, autofocus)
                        label(for="password") Password 
                            span.field__required *
                        input#password(type="password", name="password", placeholder="********", required)
                        .read.mt-3
                            input(type="submit", value="Login")

                        p.mt-3 
                            a(href='/auth/forgot') Forgot your password?
