extends base

include mixins/_headLine

block content

    +headLine('Privacy Policy')

    section.hand-crafted.py-5
        .container
            .inner-sec.py-md-5.px-lg-5
                h3.tittle.text-center
                    span.sub-tittle Privacy.
                    |  Policy
                p.mb-4.text-center.px-lg-4
                    | We value the privacy of everyone who visits our website. Protecting your private information is our top priority. By submitting your personal data, you are giving us permission to use it as stated in the policy.
                
                p.mb-4.text-center.px-lg-4
                    | We encourage you to carefully go through the privacy policy before you give any information.

                h5.tittle.text-center What Does This Privacy Policy Cover?
                p.mb-4.text-center.px-lg-4
                    | This privacy policy will explain how we use your personal data and other information when you access our website. This policy does not apply to third party websites that we do not own example, Google, Facebook, Twitter etc. We cannot take responsibility for their privacy policy and practices.

                p.mb-4.text-center.px-lg-4
                    | All the trademarks on this website belong to us or are licensed by those trademark owners for usage on our website. The trademarks present in our website that are not a property of ColorWhistle e.g.Facebook, are given proper acknowledgement

                p.mb-4.text-center.px-lg-4
                    | Illegal use of this website may give rise to a claim for damages or be a criminal offence

                p.mb-4.text-center.px-lg-4
                    | You may not copy (print, store, download), distribute, broadcast, or tamper with any of the content present in the website

                h5.tittle.text-center Information We Collect

                p.mb-4.text-center.px-lg-4
                    | We collect the following personal information and non-personally identifiable information.

                p.mb-4.text-center.px-lg-4
                    | First name, last name, email, country, city and other information you provide
                
                p.mb-4.text-center.px-lg-4
                    | Content and other information you provide when using our website. Eg. Comments you add on our blogs, information you submit when you participate in our surveys
                
                p.mb-4.text-center.px-lg-4
                    | Browser version, OS type, pages you browse in our website, date and time of your visit, domain names, exit pages/URLs, interaction information, and other similar technical data
                
                p.mb-4.text-center.px-lg-4
                    | Location information provided by a mobile device or associated with your IP address
                
                h5.tittle.text-center How We Collect Information From You?
                p.mb-4.text-center.px-lg-4
                    | We collect information you submit to us. For example, when you request product or service information from us, register for an account, when you reply to emails we send, register to participate in conferences or webinars we conduct, or when you respond to our customer surveys. We also,
                
                p.mb-4.text-center.px-lg-4
                    | Automatically collect usage, analytics, metrics, and other technical data
                p.mb-4.text-center.px-lg-4
                    | Get information about you from our resellers or other third-party partners
                p.mb-4.text-center.px-lg-4
                    | Get information from our advertising and market research partners
                p.mb-4.text-center.px-lg-4
                    | Sources, such as public databases; joint marketing partners, social media platforms; or other third parties

                h5.tittle.text-center How We Use The Information?
                
                p.mb-4.text-center.px-lg-4
                    | We use the collected information to,
                p.mb-4.text-center.px-lg-4
                    | Respond to queries/requests
                p.mb-4.text-center.px-lg-4
                    | Process orders
                p.mb-4.text-center.px-lg-4
                    | Resolve any problems with services/products provided
                p.mb-4.text-center.px-lg-4
                    | Prevent activities that may violate our policies
                p.mb-4.text-center.px-lg-4
                    | Generate services/products that meet your needs
                p.mb-4.text-center.px-lg-4
                    | Enhance our services, we will get your consent to use your personal data for direct marketing
                
                h5.tittle.text-center Sharing Information With Others
                p.mb-4.text-center.px-lg-4
                    | We do not share your personal information outside of ColorWhistle. However, we may unfold your personal data in certain circumstances, that includes,
                p.mb-4.text-center.px-lg-4
                    | Response to a lawful request by public authorities
                p.mb-4.text-center.px-lg-4
                    | A court order
                p.mb-4.text-center.px-lg-4
                    | Safeguard the property or rights of our company
                p.mb-4.text-center.px-lg-4
                    | Investigate/prevent violation in relation to the services we offer
                p.mb-4.text-center.px-lg-4
                    em In the event of a reconstruction or liquidation, your personal information may be passed on to a successor in interest
                
                h3.tittle.text-center Cookies Policy

                h5.tittle.text-center What Are Cookies?
                p.mb-4.text-center.px-lg-4
                    | Cookies are nothing but small files that are stored in your computer that hold a meagre amount of data about the sites you visit. These files have information about the web page you visit, as well as any other information you’ve given such as name and interests.

                h5.tittle.text-center Why Do We Use Cookies?
                p.mb-4.text-center.px-lg-4
                    | Cookies help us to know how you interact with our content and help us to improve your experience when you visit our site. Through cookies, we can know your language preference so that you needn’t change it for every visit. Also, from your activity on our website, we can target advertisements on third-party websites so that we can re-market our products/services to you.
                    | In addition to this, there are the types of cookies you need to know about
                
                h5.tittle.text-center  Session Cookies
                p.mb-4.text-center.px-lg-4
                    | Session cookies are temporary and are used to remember you when you visit our site. They expire when the web browser is closed.
                
                h5.tittle.text-center Persistent Cookies
                p.mb-4.text-center.px-lg-4
                    | Persistent cookies remain on your computer/mobile device even after you close the web browser or restart your computer. With this data, we come up with a visit pattern to improve the functionality of the site. These cookies are also used for targeted advertising.
                
                h5.tittle.text-center First Party and Third Party Cookies
                p.mb-4.text-center.px-lg-4
                    | We use first-party as well as third-party cookies on our website.
                    | First-party cookies mainly belong to the website you’re currently visiting. Third-party cookies are cookies that belong to other websites that are mainly used for outside advertising.
                
                h5.tittle.text-center How To Reject And Delete Cookies?
                p.mb-4.text-center.px-lg-4
                    | Keep in mind that if cookies are disabled you might not take full advantage of a website you’re visiting and may impair your experience. You can reject and delete cookies by simply changing your browser settings.

                p.mb-4.text-center.px-lg-4 
                    | Visit 
                    a(href='http://www.allaboutcookies.org/') http://www.allaboutcookies.org/ 
                    | to know more on how to reject or delete them
                
                h5.tittle.text-center Social Media
                p.mb-4.text-center.px-lg-4
                    | Our website includes social media features like Facebook ‘like’ button and Twitter ‘share’ button. Your interactions with such type of features are governed either by the privacy policy or terms & conditions, of the company providing it.
                
                h5.tittle.text-center Third-Party Links
                p.mb-4.text-center.px-lg-4
                    | Our website may contain links to third-party websites. If you click on those links, it will take you outside of our website. We have no control over the privacy policy or terms of those third-party websites. So we encourage you to read the privacy statements of every website you visit.

                h5.tittle.text-center Data Retention
                p.mb-4.text-center.px-lg-4
                    | We may retain your personal information to provide the service you requested, to comply with legal/tax/accounting requirements or until it fulfills the purpose outlined in our privacy policy. When we have no business reasons to process your personal data, we will either delete it or securely store it and isolate it from further processing.

                h5.tittle.text-center Choice/Opt-Out Rights
                p.mb-4.text-center.px-lg-4
                    | You have the following data protection rights.
                p.mb-4.text-center.px-lg-4
                    | You can contact us to know the personal data we have collected about you and how we use it. You can request to access, correct or delete your personal data.
                p.mb-4.text-center.px-lg-4
                    | You may restrict the processing of your personal data. In such a case, we will not be able to deliver our services to you
                p.mb-4.text-center.px-lg-4
                    | You may object use of personal data if you think that it is used for other purposes set out above
                p.mb-4.text-center.px-lg-4
                    | You have the right to receive your personal data from us in a structured and readable format
                p.mb-4.text-center.px-lg-4
                    | You have the right to opt-out from receiving marketing communications from us. You can exercise this right by just clicking on ‘unsubscribe’ or ‘opt-out’ option in the emails we send you. If you want to opt-out of postal communications, please contact us

                h5.tittle.text-center Children’s Privacy
                p.mb-4.text-center.px-lg-4
                    | Protecting the privacy of children is important to us. We do not collect or solicit personal information from users under the age of 18.
                p.mb-4.text-center.px-lg-4 If we come to know that we have gathered personal information about children without parental or guardian consent, we will take the necessary steps to immediately remove the data from our server.

                h5.tittle.text-center GDPR
                p.mb-4.text-center.px-lg-4
                    | ColorWhistle ‘Contact us’ form is compliant with GDPR regulations. If you proceed further, we will consider that you have given your consent to receive requested information/data. We do not make any assumptions, we take all the actions based on the transparent affirmation by users who agree to be physically contacted.
                p.mb-4.text-center.px-lg-4
                    | 

                h5.tittle.text-center Contact Us
                p.mb-4.text-center.px-lg-4
                    | We may modify or update the privacy policy anytime. So, we advise you to review this policy periodically. We welcome your views on our website and privacy policy. Please 
                    a(href='/contact') contact us 
                    | for any queries/clarifications.

    include _popularProduct

