extends base

block content

    section.ab-info-main.py-md-5
        .container.py-md-3
            h3.tittle.text-center.mb-lg-5.mb-3 Single Page
            .speak.px-lg-5
                .row.mt-lg-5.mt-4
                    .col-md-12.events-img
                        img.img-fluid(src="/images/single.jpg", alt="")
                    .col-md-12.events-info.my-3
                        h3
                            span.sub-tittle 01 
                            | Tech beauty
                        h4.my-3
                            a.text-dark(href="#") VIVAMUS ID TEMPOR FELIS. CRAS SAGITTIS MI SIT AMET
                        p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        p Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat..
                        p Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat..
                .row.my-lg-5.my-3
                    .col-md-6.text-info
                        p Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis porttitor elementum id enim volutpat...
                    .col-md-6.team-
                        img.img-fluid(src="/images/img6.jpg", alt="")
                .single-form-left
                    .contact-single
                        h3
                            span.sub-tittle 01
                            | Leave a Reply
                        form.mt-4(action="#", method="post")
                            .form-group
                                label(for="contactcomment") Your Comment *
                                textarea#contactcomment.form-control.border(name="", cols="30", rows="5", required="")
                            .d-sm-flex
                                .col-sm-6.form-group.p-0
                                    label(for="contactusername") Name *
                                    input#contactusername.form-control.border(type="text", required="")
                                .col-sm-6.form-group.ml-sm-3
                                    label(for="contactemail") Email *
                                    input#contactemail.form-control.border(type="email", name="", required="")
                            button.mt-3.btn.btn-success.btn-block.py-3(type="submit") Post Comment
                
                .media.py-5
                    img.mr-3.img-fluid.rounded-circle(src="/images/te2.jpg", alt="")
                    .media-body
                        h5.mt-0 Daniel Doe
                        p.mt-2 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        .media.mt-5
                            a.pr-3(href="#")
                                img.img-fluid.rounded-circle(src="/images/te1.jpg", alt="")
                            .media-body
                                h5.mt-0 Leia Organa
                                p.mt-2 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla..
                                